Form_Resources/DFs/*
Form_Resources/Dicts/*
Form_Resources/Dicts_Avg_SFR_Thresholds/*
Form_Resources/Dicts_Total_SFR_Thresholds/*
Select_Threshold/Images_Comparing_Thresholds/*
Matrices/corr_matrices/*
