SFR_Resources/DFs/*
SFR_Resources/Dicts/*
SFR_Resources/Dicts_Avg_SFR_Thresholds/*
SFR_Resources/Dicts_Total_SFR_Thresholds/*
Selecting_Sample/Images_Comparing_Thresholds/*
Matrices/*.npz
.ipynb_checkpoints
__pycache__
old
spiral_resources.ipynb
sfr_methods.ipynb
SFR_Resources/premake_resources.ipynb
spiral_galaxy.ipynb
